@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  background-color: var(--BACKGROUND-COLOR);
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  font-family: 'Roboto Mono';
  font-size: 0.85rem;
}

header a {
  color: var(--NORMAL-COLOR);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.logo {
  color: var(--BRIGHT-COLOR);
  align-self: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 3rem;
  letter-spacing: -0.2rem;
}

.logo:hover {
  text-decoration: none;
}

.resume {
  text-decoration: underline;
}
