/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* roboto mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* reenie beanie */
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* source code pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* define global variables */
:root {

  --shadow: 3px 3px 3px #000;
  --shadow-sm: 1px 1px 2px #000;

  @mixin light-root { }

  @mixin dark-root {
    --mantine-color-body: #1e1d49;
    --mantine-color-text: #ccc;
    --mantine-color-bright: #eee;
  }
}

* {
  transition: all 200ms;
}

.text-shadow {
  text-shadow: var(--shadow);
}

.text-shadow-sm {
  text-shadow: var(--shadow-sm);
}

.image-shadow {
  box-shadow: var(--shadow);
}

.nav-link {
  font-family: var(--mantine-font-family-monospace);
  font-size: 0.85rem;
}

.nav-link:hover {
  letter-spacing: 1px;
  color: var(--mantine-color-orange-3)
}

.logo {
  font-family: Reenie Beanie,cursive;
  font-size: 3rem;
  color: var(--mantine-color-bright);
  letter-spacing: -0.2rem;
}

.logo:hover {
  color: var(--mantine-color-orange-3);
  letter-spacing: -0.1rem;
}

.bright-on-hover:hover {
  color: var(--mantine-color-bright);
}

.scale-on-hover:hover {
  transform-origin: left top;
  transform: scale(1.03);
}

.scale-large-on-hover {
  transition: transform 0.1s;
}

.scale-large-on-hover:hover {
  transform: scale(1.2);
}

.orange {
  color: var(--mantine-color-orange-3);
}

strong {
  color: var(--mantine-color-orange-3);
}
