.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20%;
}

.myImg {
  width: 22vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 1rem;
  object-position: 50% 50%;
  box-shadow: var(--SHADOW);
}

