@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20%;
}

.myImg {
  height: 30vw;
  width: 25vw;
  object-fit: cover;
  object-position: 47% 0;
  border-radius: 1rem;
  box-shadow: var(--SHADOW);
}

.headingLine1 {
  color: var(--BRIGHT-COLOR);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: var(--SHADOW);
}

.headingLine2 {
  --SHADOW: 1px 1px 2px #000;
  color: var(--ACCENT-COLOR);
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 1.5rem;
  text-shadow: var(--SHADOW);
}


.iconRow {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.iconRow a {
  color: var(--BRIGHT-COLOR);
  text-decoration: none;
}

.iconRow a:hover {
  filter: brightness(150%);
}
