.section {
  display: grid;
  gap: 2rem;
  margin: 3rem 0;
}

.section:nth-of-type(even) {
  grid-template-columns: 5fr 7fr;
}

.section:nth-of-type(odd) {
  grid-template-columns: 7fr 5fr;
}

.alignRight {
  text-align: right;
}

.h2 {
  margin-top: 0;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.lastParagraph {
  margin-bottom: 3rem;
}

a {
  color: var(--NORMAL-COLOR);
}

iframe {
  border: 0;
}
