* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 --SHADOW: 2px 2px 3px #000;

 /* COLOURS */
 --NORMAL-COLOR: #ccc;
 --BRIGHT-COLOR: #eee;
 --ACCENT-COLOR: #F7776F;
 --BACKGROUND-COLOR: #1e1d49;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--BACKGROUND-COLOR);
  color: var(--NORMAL-COLOR);
  min-height: 100vh;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

p {
  font-family: 'Roboto';
  line-height: 1.7;
}

h2 {
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 2em;
}

